.grid {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.grid-3 {
  margin: 100px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

.text {
  padding: 20px;
}

.div--width-per {
  width: 70%;
}

.text--align-center {
  text-align: center;
}

.text--align-left {
  text-align: left;
}

.text--underline {
  text-decoration: underline;
}

.text--color-white {
  color: white
}

.text--font-big {
  font-size: 2em;
}

.list {
  list-style-type: none;
}

.list__item {
  margin-top: 10px;
}

.photo {
  width: 35%;
  border-radius: 40px;
}

.screen--white {
  height: 100vh;
  width: 100%;
  background: #f9f4da;
}

.screen--black {
  height: 100vh;
  width: 100%;
  background: #231f20;
}

.screen--yellow {
  height: 100vh;
  width: 100%;
  background: #fcba28;
}

.toolbar {
  display: flex;
  position: fixed;
  top: 15px;
  right: 10px;
}

.toolbar__button {
  padding: 10px 16px;
  border: none;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.toolbar__button--white {
  background: #f9f4da;
  border-radius: 2px 0 0 2px;
}

.toolbar__button--yellow {
  background: #fcba28;
  border-radius: 0;
}

.toolbar__button--black {
  background: #231f20;
  border-radius: 0 2px 2px 0;
}

.toolbar__button:hover {
  filter: brightness(1.1);
  opacity: 1;
}

.text {
  margin: 0
}

.woof {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Add a cursor pointer when hovering */
}

.woof {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.woof:hover::after {
  content: 'woof woof';
  position: absolute;
  top: -20px;
  right: -50px;
  color: #231f20;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media screen and (max-height: 620px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .grid-3 {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 400px) {
  .div--width-per {
    width: 95%;
  }
  .text--mobile {
    font-size: 1.5em;
  }
  .grid-3 {
    grid-template-columns: 95%;
    margin: 10px;
  }
}